/* universal css styling */
* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-500 {
    font-weight: 500;
}

.no-decoration {
    text-decoration: none;
}

.card {
    border-radius: 0px;
}

.no-list-style {
    list-style: none;
}

/* universal css styling */

/* navbar start */
#top-nav {
    background-color: #F6720E;
}

#mid-nav {
    background-color: #F6720E;
}

nav {
    background-color: #F6720E;
}

body {
    background-color: #e1e1e1;
    position: relative;
}

/* navbar end */

/* body start */

#main-body .col-md-6 .swiper {
    width: 100%;
    height: 100%;
}

#main-body .col-md-6 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57.568952134540744vh;
}

#main-body .col-md-6 .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#main-body .col-md-6 .swiper-button-next {
    color: #fff !important;
    background-color: #F6720E !important;
    padding: 30px 20px;
}

#main-body .col-md-6 .swiper-button-prev {
    color: #fff !important;
    background-color: #F6720E !important;
    padding: 30px 20px;
}

#main-body .col-md-3 .swiper {
    width: 100%;
    height: 100%;
}

#main-body .col-md-3 .swiper-slide {
    background-position: center;
    background-size: cover;
}

#main-body .col-md-3 .swiper-slide img {
    display: block;
    width: 100%;
    height: 36.222509702457955vh;
    object-fit: cover;
}

#main-body .col-md-3 .swiper-cube-shadow {
    display: none;
}

#main-body .ui-menu {
    width: 250px;
    border: 0px;
}

#main-body .ui-menu .ui-front {
    background-color: #f7f6f6;
    padding: 10px;
}

#main-body .ui-menu .nav-link:hover {
    transition: 0.3s ease-in-out;
}

#main-body .ui-state-active {
    background-color: transparent;
    border-color: transparent;
    color: #111;
}

#main-body .ui-state-active .ui-icon {
    background-image: url('https://img.freepik.com/free-vector/vector-damask-seamless-pattern-background-classical-luxury-old-fashioned-damask-ornament-royal-victorian-seamless-texture-wallpapers-textile-wrapping-exquisite-floral-baroque-template_1217-738.jpg?uid=P119104888&ga=GA1.1.1106605636.1719834042&semt=ais_hybrid');
}

/* body end */

/* content start */
#content .latest-img {
    height: 25.873221216041397vh;
    width: 100%;
    object-fit: cover;
}

#content .col-md-9 .col .card {
    text-align: center;
    align-items: center;
}

#content .col-md-9 .col .card img {
    height: 19.404915912031047vh;
    width: 19.404915912031047vh;
    border-radius: 50%;
}

#content .col-md-9 .responsive-slickSlider-withcategories .card img {
    height: 19.404915912031047vh;
    width: 100%;
    border-radius: 0px;
}

#content .col-md-9 .responsive-slickSlider-withcategories .card {
    padding-bottom: 15px;
}

#content .col-md-9 .responsive-slickSlider-withcategories .card-body {
    background-color: #80808026;
}

#content .responsive-slickSlider-withcategories .slick-next {
    position: absolute;
    top: -6%;
    right: 1%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

#content .responsive-slickSlider-withcategories .slick-prev {
    position: absolute;
    top: -6%;
    left: 94%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}


/* content end */

/* amezing-products start */
#amezing-products .col-md-9 .row .col-md-6 .card img {
    height: 23vh;
    width: 100%;
}

#amezing-products .col-md-9 .row .col-md-6 .card {
    border: none;
}

#amezing-products .col-md-3 {
    margin-top: -15vh;
    height: 38.2vh;
}

#amezing-products .col-md-3 .justify-content-start img {
    height: 60px;
    border-radius: 50%;
    width: 60px;
}

/* amezing-products end */

/* special-products start */
#special-products .single-item-slick .slick-next {
    top: -4%;
    right: 2%;
    background-color: #111;
    height: 27px;
    width: 25px;
}

#special-products .single-item-slick .slick-prev {
    top: -4%;
    left: 85%;
    background-color: #111;
    z-index: 1;
    height: 27px;
    width: 25px;
}

#special-products .single-item-slick img {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-right: 15px;
}

#special-products .special-products-items .slick-next {
    position: absolute;
    top: -5%;
    right: 1%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

#special-products .special-products-items .slick-prev {
    position: absolute;
    top: -5%;
    left: 94%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

#special-products .special-products-items .card img {
    height: 19.404915912031047vh;
    width: 87.5%;
    border-radius: 10px;
}

#special-products .special-products-items .card {
    background-color: #f7f7f7;
}

#special-products .special-products-items .card-body {
    position: absolute;
    opacity: 0;
    background-color: #1111118a;
    transition: 0.3s ease-in-out;
    top: 0;
    bottom: 4%;
    width: 100%;
}

/* special-products end */

/* reviews start */
#reviews .col-md-9 .responsive-review-slider img {
    height: 175px;
    width: 100%;
    border-radius: 0px;
}

#reviews .col-md-9 .responsive-review-slider .slick-next {
    position: absolute;
    top: -8%;
    right: 1%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

#reviews .col-md-9 .responsive-review-slider .slick-prev {
    position: absolute;
    top: -8%;
    left: 94%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

/* reviews end */

/* latest-brands start */
#latest-brands .latest-brands-slider .card img {
    height: 100px;
    width: 100%;
    border-radius: 0px;
}

#latest-brands .latest-brands-slider .slick-next {
    position: absolute;
    top: -25%;
    right: 1%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

#latest-brands .latest-brands-slider .slick-prev {
    position: absolute;
    top: -25%;
    left: 95%;
    background-color: #F6720E;
    width: 27px;
    height: 27px;
}

/* latest-brands end */

/* footer start */
#footer .container-fluid {
    background-color: #111;
}

#footer .card-body ul li a {
    color: #fff;
}

#footer .card-body ul li a:hover {
    color: #F6720E;
    transition: 0.3s ease-in-out;
}

/* footer end */


/*----------------------- responsive view --------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* navbar */
    .w-50 {
        width: 100% !important;
    }

    #mid-nav .montserrat-font {
        margin-left: 30% !important;
    }

    /* navbar */
    /* content */
    #content .responsive-slickSlider-withcategories .slick-next {
        right: 9%;
    }

    #content .responsive-slickSlider-withcategories .slick-prev {
        left: 92%;
    }

    #main-body .ui-menu .ui-front {
        position: absolute;
        left: 0% !important;
        background-color: #eee3db;
        top: -23% !important;
        width: 100%;
        transition: 0.5s ease-in-out;
    }

    /* content */

    /* amezing products */
    #amezing-products .col-md-3 {
        margin-top: 0vh;
    }

    /* amezing products */

    /* special products */
    #special-products .special-products-items .slick-next {
        right: 9%;
    }

    #special-products .special-products-items .slick-prev {
        left: 92%;
    }

    #special-products .single-item-slick .slick-next {
        right: 9%;
    }

    #special-products .single-item-slick .slick-prev {
        left: 92%;
    }

    /* special products */

    /* reviews */
    #reviews .col-md-9 .responsive-review-slider .slick-next {
        right: 9%;
    }

    #reviews .col-md-9 .responsive-review-slider .slick-prev {
        left: 92%;
    }

    /* reviews */
    /* latest brands */
    #latest-brands .latest-brands-slider .slick-next {
        right: 9%;
    }

    #latest-brands .latest-brands-slider .slick-prev {
        left: 92%;
    }

    /* latest brands */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/*----------------------- responsive view --------------------------- */